<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Quiz</title>

    <!-- Inline Thymeleaf variables first -->
    <script>
        window.initialTimeRemaining = [[${timer}]]; // Define globally to avoid redeclaration in quiz.js
    </script>

    <!-- Include the external JavaScript file -->
    <script th:src="@{/js/quiz.js}"></script>

</head>
<body>
<div class="container">
    <div class="content">
        <h1 class="page-heading">Multiplications - Level: <span th:text="${level}">1</span></h1>
        <div class="side">
            <div class="clock-wrapper">
                <div class="clock" id="timer" style="background: rgb(255, 255, 255);">
                    <p><span th:text="${timer}">60</span></p>
                </div>
            </div>
            <div class="progress-wrapper">
                <div class="row">
                    <div class="blok icon-clock">
                        <i class="fas fa-check-circle" style="font-size: 20px; margin-right: 10px;"></i>
                        <span id="scoreText" th:text="${score}">0 / 0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="question-answer-container">
            <div class="question"><span id="questionText" th:text="${question}">What is 1 x 1?</span> =
            </div>
            <div class="answer">
                <form id="quizForm" onsubmit="event.preventDefault(); submitAnswer();">
                    <input type="number" class="answer-box" id="answerInput" name="answer"
                           placeholder="Enter your answer" required/>
                    <input type="hidden" id="timeRemainingInput" name="timeRemaining" th:value="${timer}"/>
                    <button type="submit" class="button">Submit Answer</button>
                </form>
            </div>
        </div>
    </div>

<!-- Modal and Backdrop -->
<div id="backdrop"></div>
<div id="modal">
    <button class="close-button" id="closeModalButton">&times;</button>
    <h2>Enable Audio</h2>
    <p>To enjoy the experience, tap "Enable Audio" to start the voice guidance.</p>
    <div class="button-row">
        <button id="enableAudioButton">Enable Audio</button>
        <button id="noButton">No</button>
    </div>
</div>

</div>
</body>
</html>
